[submodule "cli"]
  path = cli
  url = https://github.com/cernide/cli
[submodule "core"]
  path = core
  url = https://github.com/cernide/core
[submodule "hypertuner"]
  path = hypertuner
  url = https://github.com/cernide/hypertuner
[submodule "operator"]
  path = operator
  url = https://github.com/cernide/operator
[submodule "charts"]
  path = charts
  url = https://github.com/cernide/charts
[submodule "sdks"]
  path = sdks
  url = https://github.com/cernide/sdks
[submodule "site"]
  path = site
  url = https://github.com/cernide/site
[submodule "tracer"]
  path = tracer
  url = https://github.com/cernide/tracer
